<div class="container p-5">
  <div class="card p-4" style="background-color: #002C3D;">
    <div class="card-body">
      <h2 class="card-title mb-3 text-center text-white">Welcome to Heat Software Engineer 🧑‍💻👷🏽👩🏾‍💻</h2>
      <img class="rounded mx-auto d-block" width="200" src="../../assets/companyLogo.png">
      <h5 class="text-white">Introduction:</h5>
      <p class="card-text text-white">
        Thank you for taking part in Heat Software interview process. We appraite the time taken to go through a
        interview
        process and we are really pleased that you would want to be a member of our team. In that spirit we have
        prepared
        a hopefully interesting task for you to complete.
      </p>
      <h5 class="text-white">Task Brief:</h5>
      <p class="card-text text-white">
        We would like you to create us a search bar which updates on typing in an input giving the user the feeling of
        near instant access to the database. We use a document model database called MongoDB inconguction with our use
        of
        the mongoose library. All are JavaScript is written in Typescript with are serve running on the express
        framework
        and our client in Angular 15. A simplified web application has been build for you to add your modules to the
        code
        base. Good luck and don't forget the internet is your lifeline.
      </p>
      <button class="btn btn-dark mx-auto d-block p-3 m-2" style="background-color: #E19529;">When Clicking This Button Should Route To Your Module 🤞</button>
      <app-check-list></app-check-list>
    </div>
  </div>
</div>
