<section class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mb-3">Welcome to Heat Software Engineer 🧑‍💻👷🏽👩🏾‍💻</h2>
      <h5>Introduction:</h5>
      <p class="card-text">
        Thank you for taking part in Heat Software interview process. We appraite the time taken to go through a
        interview
        process and we are really pleased that you would want to be a member of our team. In that spirit we have
        prepared
        a hopefully interesting task for you to complete.
      </p>
      <h5>Task Brief:</h5>
      <p class="card-text">
        We would like you to create us a search bar which updates on typing in an input giving the user the feeling of
        near instant access to the database. We use a document model database called MongoDB inconguction with our use
        of
        the mongoose library. All are JavaScript is written in Typescript with are serve running on the express
        framework
        and our client in Angular 15. A simplified web application has been build for you to add your modules to the
        code
        base. Good luck and don't forget the internet is your lifeline.
      </p>
      <app-check-list></app-check-list>
    </div>
  </div>
</section>
