<div class="container">

  <h1 class="text-white text-center m-5 p-2">Task Brief:</h1>
<p class="card-text text-white">
  We would like you to create us a search bar which updates on typing in an input giving the user the feeling of
  near instant access to the database. We use a document model database called MongoDB inconguction with our use
  of
  the mongoose library. All are JavaScript is written in Typescript with are serve running on the express
  framework
  and our client in Angular 15. A simplified web application has been build for you to add your modules to the
  code
  base. Good luck and don't forget the internet is your lifeline.
</p>

</div>

<br>

<button class="btn btn-outline-light mx-auto d-block p-5 p-y-10 m-5">
  When Clicking This Button Should Route To Your Module 🤞
</button>
<app-check-list></app-check-list>

